.height-product-tile-plpOnly.height-product-tile {
  position: relative;
}
.height-product-tile-plpOnly {
  .product-title {
    line-height: 1.2 !important;
    height: 3.6rem;
  }
}
.card--product-contaner-price {
  font-size: 0.8em;
  color: #000;
  .contaner-price__value {
    font-size: 1.25em;
  }
}

@media (max-width: 540px) {
  .height-product-tile-plpOnly {
    .product-title {
      height: 3.2rem;
    }
  }
}
