.TermsConditions {
    > main {
        p {
            margin-top: 1rem;
            font-size: 1rem;
        }
        h4 {
            font-size: 1.25rem;
            margin-top: 1rem;
        }
        a {
            &:hover {
                border-bottom: 1px solid red;
            }
        }
    }
}