@media screen and (max-width: 765px) {
  .pcgotobut{
    display: none!important;
  }
  .hgotobut{
    display: block!important;
  }
  .pcexperts{
    display: none;
  }
  .hexperts{
    display: block;
  }
  .header-content {
    position: relative;
    width: 100%;
    height: 25.4375rem !important;
    color: #ffffff;
    background: url("image/header1.png") no-repeat;
    background-size: 100%;
    .hd-text-cont {
      width: 15.5rem;
      position: absolute;
      top: 5rem;
      left: 2rem;

      .introduce {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 3.125rem;
      }

      .text {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
  .time-content {
    text-align: center;
    margin: 2.5rem 3.125rem;

    .time {
      font-weight: 500;
      font-size: 1.125rem;
      color: #000000;
    }

    .place {
      font-size: 1rem;
      color: #666666;
    }
  }
  .time-img{
    width: 100%;
    background: url("image/img1.png") no-repeat;
    background-size: 100% 100%;
    height: 19.125rem;
    margin-bottom: 2.5rem;
  }

  .felin-mpd0{
    padding: 0!important;
    margin: 0!important;
  }

  .visit-text {
    color: #000000;
    .visit-text-tip {
      font-size: 1.25rem;
      margin-bottom: 1.125rem;
    }

    .visit-text-cont {
      font-size: 1.125rem;
    }
  }
  .txt-centr{
    h2{
      font-size: 1.25rem;
      padding: 0 1.875rem;
    }
  }
  .problem {
    width: 100%;
    font-size: 0.75rem;
    margin: auto;
    padding: 0 1.25rem;
    margin-bottom: 2.5rem;
    span {
      font-size: 0.75rem;
      text-decoration: underline
    }
  }
  .nos-cont-text {
    width: 100%;
    margin-left: 0;
    margin-top: 1.875rem;
  }
  .nos-cont{
    margin-bottom: 3.75rem;
  }
  .visit-text-h3{
    font-size: 1.25rem;
  }
  .visit-text-p{
    font-size: 1.125rem;
  }
  .visit-text-p1{
    font-size: 0.75rem;
  }
  .nos-img-box{
    height: 22.8125rem;
    background: url("image/nos1.png") no-repeat;
    background-size: 100% 100%;
  }
  .une-title {
    text-align: center;
    font-size: 1.125rem;
    color: #000000;
    margin-bottom: 1rem;
    padding: 0 1.875rem;
  }
  .conseiller{
    display: none;
  }
  .conseiller-two{
    display: block;
  }
}
