#convenience-store-container {
  .convenience-store-checkbox::before {
    border-radius: 100% !important;
  }
  .convenience-store-checkbox::after {
    top: 25% !important;
    left: 9px !important;
    width: 6px !important;
    height: 6px !important;
    background: #e2001a !important;
    border-radius: 100% !important;
  }
}
