.Felin .receiveDate {
  outline: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-weight: 500;
}
.Felin .react-datepicker__day--selected {
  background: #ec001a;
  border-radius: 50%;
}
.Felin .iconfont-date {
  color: #ec001a;
}
.Felin {
  #Selection {
    width: 300px;
    display: inline-block;
  }

}