.Felin .receiveDate {
  outline: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-weight: 500;
}
.Felin .react-datepicker__day--selected {
  background: #ec001a;
  border-radius: 50%;
}
.Felin .iconfont-date {
  color: #ec001a;
}
.Felin {
  #Selection {
    width: 300px;
    display: inline-block;
  }
  p {
    margin-bottom: 0;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .pt-35 {
    padding-top: 35px;
  }
  section {
    padding: 0 150px;
    display: flex;
  }
  .col-6 {
    margin: 50px 0;
  }
  .content {
    padding: 0 50px;
  }
}