.Felin .receiveDate {
  outline: none;
  border: none;
  color: #666;
  cursor: pointer;
  font-weight: 500;
}
.Felin .react-datepicker__day--selected {
  background: #ec001a;
  border-radius: 50%;
}
.Felin .iconfont-date {
  color: #ec001a;
}
.Felin {
  #Selection {
    width: 300px;
    display: inline-block;
  }
  p {
    margin-bottom: 0;
    color: #666;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .pt-35 {
    padding-top: 35px;
  }
  section {
    padding: 0 150px;
    display: flex;
  }
  .col-6 {
    margin: 50px 0;
  }
}
@media (min-width: 769px) {
  .Felin {
    .rc-layout-container.rc-two-column {
      margin: 40px 150px;
    }
    .rc-espilon {
      padding: 0 50px;
    }
    #felinFooter h3 {
      width: 500px;
    }
    .ui-cursor-pointer {
      margin: 0 20px;
    }
  }
}
@media (max-width: 769px) {
  .Felin {
    .rc-espilon {
      width: 100%;
    }
    .ui-cursor-pointer {
      margin: 0 10px;
    }
  }
}