.subtitleBG1{
  background-image: url("./images/picto_delivery.png") ;
  background-size: 100%;
  background-repeat: no-repeat ;
}
.subtitleBG2{
  background-image: url("./images/picto_advisor.png") ;
  background-size: 100%;
  background-repeat: no-repeat ;
}
.subtitleBG3{
  background-image: url("./images/picto_welcome-pack.png") ;
  background-size: 100%;
  background-repeat: no-repeat ;
}
.subtitleBG4{
  background-image: url("./images/picto_loyalty-program.png") ;
  background-size: 100%;
  background-repeat: no-repeat ;
}
.subtitleBG5{
  background-image: url("./images/picto_advice.png") ;
  background-size: 100%;
  background-repeat: no-repeat ;
}

.questionnaire-container{
  background-color: #e8e8e8;
  padding: 25px;
  @media (max-width: 769px) {
    padding: 15px;
  }
  .questionnaire-content{
    width: 1052px;
    height: 610px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    @media (max-width: 769px) {
      width: 100%;
      display: block;
      padding: 20px 15px;
      height: auto;
    }
    .questionnaire-image-box{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 118px;
      @media (max-width: 769px) {
        margin: 0 auto;
        text-align: center;
      }
      .questionnaire-image{
        @media (max-width: 769px) {
          display: none;
        }
      }
      .questionnaire-image-title{
        //font-weight: bold;
        font-size: 34px;
        color: #e2001a;
        @media (max-width: 769px) {
          font-size: 26px;
        }
      }
      .questionnaire-image-subTitle{
        width: 380px;
        font-size: 20px;
        color: #575757;
        text-align: center;
        margin-top: 10px;
        @media (max-width: 769px) {
          width: 100%;
          font-size: 16px;
          margin-top: 2px;
          margin-bottom: 10px;
        }
      }
    }
    .question-button{
      width: 190px;
      margin-top: 10px;
      @media (max-width: 769px) {
        width: 100%;
        margin:20px auto 0 ;
      }
    }
    .back-btn{
      text-align: center;
      cursor: pointer;
      color: #444;
      border-bottom: 1px solid #d7d7d7;
    }
  }
}
.howItWorkBorder{
  //border: 2px solid #cccccc;
  padding:10px;
  flex-direction: column;
  //background-image:url('images/borderBG1.jpg');
  //background-repeat: no-repeat ;
}

.borderBack1{
  background-image:url('images/borderBG1.jpg');
  background-repeat: no-repeat ;
  background-size: 100%;
}

.borderBack2{
  background-image:url('images/borderBG2.jpg');
  background-repeat: no-repeat ;
  background-size: 98% 98%;
}

.borderBack3{
  background-image:url('images/borderBG3.jpg');
  background-repeat: no-repeat ;
  background-size: 100% 98%;
}

.howItWorkNum{
  border-radius: 50%;
  background-color: #E2001A;
  color: white;
  width:45px;
  height:45px;
  text-align: center;
  line-height:45px;
}
@media (max-width: 639.98px) {

  .borderBack1{
    background-image:url('images/borderBG4.jpg');
    background-repeat: no-repeat ;
    background-size: 100% 100%;
  }

  .borderBack2{
    background-image:url('images/borderBG5.jpg');
    background-repeat: no-repeat ;
    background-size: 100% 100%;
  }

  .borderBack3{
    background-image:url('images/borderBG6.jpg');
    background-repeat: no-repeat ;
    background-size: 100% 100%;
  }

  .ui-pop .img-container {
    width: 80%;
  }
  .mobileHelp {
    display: flex;
    flex-direction: column;
  }
  .preciseCatNutritionTop {
    background: linear-gradient(white, black);
    overflow: hidden;
    background-size: cover;

  }

  .lazyload-wrapper {
    display: flex;
    width: 80%;
    height: auto;
  }

  .bingo {
    display: inline-block !important;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: url('images/bingo.png') no-repeat;
    background-size: 24px auto;
    background-position: center center;
  }

  .rc-margin-right--xs,p>.rc-btn {
    margin-right: .5rem
  }
}

.top{
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
