@media (max-width: 639.98px) {
  .preciseCatNutritionTop {
    height: 1609px;
    background: linear-gradient(white, black);
    overflow: hidden;
    background-size: cover;

  }

  .lazyload-wrapper {
    display: flex;
    width: 80%;
    height: auto;
  }

  .bingo {
    display: inline-block !important;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background: url('images/bingo.png') no-repeat;
    background-size: 24px auto;
    background-position: center center;
  }

  .rc-margin-right--xs,p>.rc-btn {
    margin-right: .5rem
  }
}

.top{
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
