.DailyPortion-wrap {
  .question-title{
    color: #666;
    font-size: 14px;
    padding: 0 0 6px 0;
    display: flex;
    font-weight: 500;
    align-items: center;
  }

  .dailyPortion-startBtn{
    font-size: 16px;
    text-align: center;
    border: 2px solid #e2001a;
    color: #e2001a;
    background-color: #fff;
  }
}
