.payment-addressList {
  .addr-container-scroll {
    max-height: 200px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: .625rem;
      height: 1px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: .625rem;
      background: #c7c7c7;
    }

    &::-webkit-scrollbar-track {
      border-radius: .625rem;
      background: #ebebeb;
    }
  }

  .address-item {
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .address-item:hover,
  .address-item.selected {
    background-color: #fff3f3;
  }

  .address-item.selected {
    border-color: rgba(255, 0, 0, 0.5);
  }

  .address-item .addr-btn-edit {
    /* display: none; */
    white-space: nowrap;
    position: relative;
    top: 1px;
  }

  .address-item .addr-btn-edit .rc-edit--xs {
    opacity: 0.6;
  }

  .address-item .addr-btn-edit .rc-edit--xs:after {
    transform: scale(0.9);
  }

  .address-item .address-name {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .address-item .icon-default {
    margin: 5px .625rem;
    padding: 0 .625rem;
    line-height: 1.25rem;
    font-size: 0.9em;
    border-radius: 1em;
    border: 1px solid;
  }

  .address-item .address-name:hover,
  .address-item.selected .address-name {
    color: red;
  }

  .addr-switch {
    display: inline-block;
    vertical-align: middle;
    height: .625rem;
    line-height: .625rem;
    width: 9px;
    margin-left: 5px;
    background: url(../../../assets/images/addr-i.png) no-repeat 0 0;
  }

  .addr-switch.switch-on {
    background-position: 0 0;
  }

  .addr-switch.switch-off {
    background-position: 0 -.625rem;
  }

  .address-btn-plus {
    position: relative;
    top: 1px;
  }

  .address-btn-plus:after {
    transform: scale(0.7);
  }
}

.dwfrm_shipping_shippingAddress_addressFields_province {
  .choices__list.choices__list--dropdown {
    .choices__item {
      &:nth-child(1) {
        cursor: not-allowed;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0.5;
      }
    }
  }
}








// #kaktusMap {
//   display: none;
// }

// .pickup_box {
//   // position: relative;
//   z-index: 1;
//   display: inline-block;
//   vertical-align: top;
//   padding: 1rem;
// }

// // PC端地图
// .pickup_map_box {
//   display: none;
//   width: 490px;
//   height: 713px;
//   margin-bottom: 1.5rem !important;
//   position: relative;

//   #kaktusMap {
//     width: 490px;
//     height: 713px;
//     display: block !important;

//     #kaktusGlobalWrapper {
//       width: 490px;
//       height: 713px;
//       background: none;
//       position: absolute !important;

//       #KaktusModalWrapper {
//         box-shadow: none;
//         padding: 0;
//         position: absolute !important;

//         .modals-wrapper {
//           height: 713px !important;

//           .ymaps-2-1-78-controls__control {
//             display: none !important;
//           }

//           .ymaps-2-1-78-copyrights-pane {
//             display: none !important;
//           }
//         }
//       }

//       .close-button {
//         display: none;
//       }

//       // .map-top-panel {
//       //   display: none;
//       // }

//       .css-9zp9gv {
//         .map-bottom-panel {
//           .map-bottom-panel-buttons {
//             button {
//               border-radius: 30px;
//               border-color: #e2001a;

//               &.secondary {
//                 background-color: #fff;
//                 color: #e2001a;
//               }

//               &.primary {
//                 background-color: #e2001a;
//                 color: #fff;
//               }
//             }
//           }
//         }

//         .map-bottom-panel-address {
//           color: #b0b0b0;
//         }

//         .map-bottom-panel-worktime {
//           color: #b0b0b0;
//         }
//       }

//     }
//   }
// }

// .pickup_map_box_relative {
//   display: block;

//   #kaktusMap {
//     display: block !important;

//     // #kaktusGlobalWrapper {
//     //   position: relative !important;
//     //   position: absolute !important;
//     //   left: 2rem;
//     //   top: 18.5rem;
//     // }
//   }
// }

// .pickup_infos {
//   background-color: #fbfbfb;
//   padding: 1rem;

//   .info_tit {
//     display: flex;
//     justify-content: space-between;
//     font-weight: 500;
//   }

//   .infos {
//     color: #ababab;
//     padding:1rem 0;
//   }

//   .info_btn_box {
//     display: flex;
//     justify-content: space-between;
//   }
// }
