.questionnaire-radio{
  .rc-input__label--inline{
    &:before{
      top: 50%;
      transform: translateY(-50%);
    }
    &:after{
      top: 50%!important;
      transform: translateY(-50%);
    }
  }
  .label-box{
    display: flex;
    align-items: center;
  }
}

