.imgBoxForSelect{
    width: 80px;
    height: auto;
    margin: 0 0.8em 0 0;
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: center;
    padding: .2rem 0;
    margin-right: 1rem;
}
.imgForSelect{
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 5.625em;
    width: auto;
}
@media(max-width:450px){
    .fit-screen-d-flex{
        display: inherit !important;
    }
}