@media (max-width: 639.98px) {
  .flexColumn {
    flex-direction: column;
  }
  .marginleftButton {
    margin-top: 8vh;
  }
  .widthsmall {
    width: 80vw;
    margin-left: 7vw;
    height: 50vh;
  }
  .marginleftLogo {
    margin-left: 3vw;
  }
  .fontwidth {
    width: 40vw;
  }
  .buttonmargintop {
    transform: translateY(7vh);
  }
  .textmobile15vw{
    padding:0;
    margin-left:0;
    list-style-position:outside;
  }
  .getmorebutton{
    margin-top: 20vh;
  }
}

@media (min-width: 639.98px) {
  .clubmobilegetmore {
    display: none;
  }
  .widthsmall {
    height: 60vh;
  }
  .text21vw{
    width: 21vw;
  }
  .getmorebutton{
    margin-top: 10vh;
  }
}
