@media (max-width: 639.98px) {
  .flexColumn {
    flex-direction: column;
  }
  .widthsmall {
    width: 80vw;
    margin-left: 7vw;
    height: 41vh;
  }
  .dewidthsmall {
    width: 80vw;
    margin-left: 7vw;
    height: 39vh;
  }
  .marginleftLogo {
    margin-left: 3vw;
  }
  .fontwidth {
    width: 40vw;
  }
  .buttonmargintop {
    transform: translateY(7vh);
  }
  .textmobile15vw {
    padding: 0;
    margin-left: 0;
    list-style-position: outside;
  }
  .mobileflex {
    flex-direction: column;
    margin-left: 9vw;
    width: 80vw;
  }
  .paddingbottom0 {
    padding: 0;
  }
  .paddingtop0 {
    padding-top: 0;
  }
  .margintop3vh {
    margin-top: 5vh;
  }
  .getmorebutton {
    margin-top: 4vh;
  }
}

@media (min-width: 639.98px) {
  .clubmobilegetmore {
    display: none;
  }
  .widthsmall {
    height: 60vh;
  }
  .dewidthsmall {
    height: 45vh;
  }
  .text21vw {
    width: 21vw;
  }
  .getmorebutton {
    margin-top: 10vh;
  }
  .margintop10vh {
    margin-top: 10vh;
  }
  .margintop15vh {
    margin-top: 15vh;
  }
  .getmore30vh {
    height: 30vh;
  }
  .getmore83vh {
    height: 83vh;
  }
}
