# @royal-canin-sitecore:registry=https://pkgs.dev.azure.com/MarsDevTeam/RoyalCaninSitecore/_packaging/rc-sc-exported-components/npm/registry/

                       

# always-auth=true

@royal-canin-sitecore:registry=https://pkgs.dev.azure.com/MarsDevTeam/RoyalCaninSitecore/_packaging/rc-sc-exported-components/npm/registry/

always-auth=true