


.icon_navigation-tab{
  flex-direction: column;
  max-height: 200px;
  max-width: 200px;
  padding: 0 20px;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.image-rounded{
  align-self: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  pointer-events: none;
  width: 100px;
  min-width: 100px;
  height: 100px !important;
}

.active{
  span{
    color: #e2001a;
  }
  img{
    border: 0.25rem solid #e2001a;
  }
}