.ui-font-nothing {
  font-size: 14px;
}
.ui-font-nothing .rc-icon {
  margin-right: 5px;
}
@media (min-width: 640px) {
  .ui-font-nothing {
    font-size: 18px;
  }
}
.goodsSubtitle {
  position: absolute;
  bottom: 14px;
  width: 100%;
  text-align: center;
}

.height-product-tile-plpOnly.height-product-tile {
  position: relative;
}