.ui-font-nothing {
  font-size: 14px;
}
.ui-font-nothing .rc-icon {
  margin-right: 5px;
}
@media (min-width: 640px) {
  .ui-font-nothing {
    font-size: 18px;
  }
}
.goodsSubtitle {
  position: absolute;
  bottom: 14px;
  width: 100%;
  text-align: center;
}

.height-product-tile-plpOnly.height-product-tile {
  position: relative;
}
.display-inline {
  display: inline-block;
}
.comments{
  font-size: 14px;
  position: relative;
  top: -6px
}
.font15{
  font-size: 1.5rem!important;
}
.sub-hover{
  color: #444!important;
}
.sub-hover:hover {
  color: #444!important;
}

.o9rem {
  font-size: .9rem!important;
}
.height18 {
  line-height: 18px;
}
.margin-auto {
  margin: 0 auto;
}
