.ui-font-nothing {
  font-size: 14px;
}
.ui-font-nothing .rc-icon {
  margin-right: 5px;
}
@media (min-width: 640px) {
  .ui-font-nothing {
    font-size: 18px;
  }
}
.goodsSubtitle {
  position: absolute;
  bottom: 14px;
  width: 100%;
  text-align: center;
}

.height-product-tile-plpOnly.height-product-tile {
  position: relative;
}
.display-inline {
  display: inline-block;
}
.comments{
  font-size: 14px;
  position: relative;
  top: -6px
}
.font16{
  font-size: 1.6rem!important;
}
.sub-hover{
  color: #444!important;
}
.sub-hover:hover {
  color: #444!important;
}

.o9rem {
  font-size: .9rem!important;
}
.height18 {
  line-height: 18px;
}
.margin-auto {
  margin: 0 auto;
}

@media(max-width:540px){
  .ImgBoxFitScreen{
    max-width: 90%;
    max-height: 7rem;
    margin: .2rem auto;
    min-height: 100px;
  }
  .ImgFitScreen{
    width: 100%;
    height: 100%;
  }
  .TitleFitScreen{
    font-size: 12px !important;
    line-height: 1rem  !important;
    font-weight: 100  !important;
  }
  .RateFitScreen{
    height: 24px;
    margin-bottom: 0rem !important;
  }
  .PriceFitScreen{
    font-size: .8rem;
  }
  .SubTitleScreen{
    font-size: 14px;
  }
  .NameFitScreen{
    font-size: 14px;
  }
  .PriceFitScreen{
    font-size: 14px;
  }
  .SePriceScreen{
    font-size: 14px;
  }
 .ItemBoxFitSCreen{
   padding-bottom: 0rem !important;
 }
 .FilterFitScreen{
   margin-bottom: -1rem;
 }
 .ListTotal{
  position: absolute;
  top: -30px !important;
  left: 6px;
}
}
.TiTle{
  line-height: 1.2;
  min-height: 3.7rem;
}
.ListTotal{
  position: absolute;
  top: -20px;
  left: 6px;
}


