.RulocalFaq {
    .main {
        .collapse {
          border: 0px;
          border-top: 1px solid #d9d9d9;
          .collapse-header {
            padding: 1.2rem 0.5rem;
          }
        }
        h2 {
          font-size: 1.625rem;
        }
        p {
            padding: 1rem 0;
        }
        a {
            text-decoration: underline;
            text-decoration-color: blue;
            &:first-child {
                color: rgb(78, 1, 171);
                text-decoration-color: rgb(78, 1, 171);
            }
        }
        ul {
          display: block;
          list-style-type: disc;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 40px;
          li {
              list-style-type: disc;
          }
      }
      ol {
          display: block;
          list-style-type: decimal;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          padding-inline-start: 40px;
          li {    
              list-style-type: decimal;
          }
      }
    }
}
