@media (max-width: 639.98px) {
  .clubdesktop {
    height: 1589px;
    background-image: url('./image/CLUBmobbackground@4x.png');
    overflow: hidden;
    background-size: cover;
  }
  .flexwrap {
    flex-wrap: wrap;
  }
  .margintopmobile {
    margin-top: 200px;
  }
  .fontheight {
    height: 25vh;
  }
  .transformmobile10px {
    transform: translateX(-23px);
    text-align: center;
  }
}

@media (min-width: 639.98px) {
  .clubmobile {
    height: 945px;
    background-image: url('./image/Bitmap@4x.png');
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .desknone {
    display: none;
  }
  .longbannerwidth266{
    width: 266.25px;
    text-align: center;
  }
}
