.my_account__subscription {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.my_account__subscription h3 {
  font-size: 1.5rem;
  padding-bottom: .3rem;
  text-transform: uppercase
}

.my_account__subscription h3.no-subscriptions {
  width: 100%
}

.my_account__subscription #my_subscriptions_orders .options_link {
  padding: 7px 10px;
  font-size: .85rem;
  text-decoration: underline;
  cursor: pointer
}

.my_account__subscription table .img-fluid {
  max-width: 50px;
  float: left;
  height: auto;
  margin-right: 5px
}

.my_account__subscription table td,.my_account__subscription table th {
  padding: .5em;
  font-weight: 100;
  text-align: left;
  width: 39px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

@media (max-width: 991.98px) {
  .my_account__subscription table td,.my_account__subscription table th {
      padding:.675rem .375rem
  }
}

.my_account__subscription table td p,.my_account__subscription table th p {
  padding: 0;
  margin: 0
}

.my_account__subscription table th {
  background-color: #ec001a;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  border-right: 1px solid #fff;
  width: auto
}

@media (max-width: 991.98px) {
  .my_account__subscription table th {
      font-size:.875rem
  }
}

.my_account__subscription table th:first-child {
  width: auto
}

.my_account__subscription table th:last-child,.my_account__subscription table th:nth-child(3),.my_account__subscription table th:nth-child(4) {
  border-right: 0
}

.my_account__subscription table tbody tr:nth-child(2n) {
  background: #fff
}

.my_account__subscription table {
  clear: both;
  width: 100%;
  max-width: 100%;
  overflow: visible
}

.my_account__subscription table td {
  border-left: 0;
  border-right: 0;
  min-height: 40px;
  height: auto
}

.my_account__subscription table td a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.my_account__subscription table td a.end-date {
  display: block;
  text-align: left
}

.my_account__subscription table td .subscription_order_item {
  min-height: 50px;
  width: 100%;
  float: left
}

@media (max-width: 991.98px) {
  .my_account__subscription table td .subscription_order_item {
      min-height:60px
  }
}

@media (max-width: 768.98px) {
  .my_account__subscription table td .subscription_order_item {
      min-height:70px
  }
}

.my_account__subscription table td .order_value {
  opacity: .4
}

.my_account__subscription table td .order_naming {
  position: relative;
  top: 18px
}

.my_account__subscription table .rc-icon {
  opacity: .5;
  height: 35px
}

.my_account__subscription .subscription_period span.rc-icon.show.iconography {
  position: relative;
  top: -15px;
  margin: 0 -3rem
}

.my_account__subscription .icon--label {
  text-transform: uppercase;
  font-size: .75rem;
  font-family: inherit!important
}

#smartorderrefill {
  padding: 0
}

.my_account__subscription_details .listing {
  background-color: #f6f6f6;
  color: #808285;
  padding: 1.85rem;
  margin-bottom: 3rem
}

.my_account__subscription_details .overview {
  position: relative
}

.my_account__subscription_details .order-section {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  width: 100%
}

.my_account__subscription_details .table_head {
  background-color: #ec001a;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  border-right: 1px solid #fff;
  padding: .85rem;
  margin: 0
}

.my_account__subscription_details .table_headp {
  margin: 0
}

.my_account__subscription_details .table_cell {
  border-bottom: 1px solid #979797;
  padding: 1.73rem
}

.my_account__subscription_details .red {
  color: #ec001a
}

.my_account__subscription_details .btn {
  max-width: 240px;
  margin-top: 1rem;
  text-align: center;
  margin: auto
}

.my_account__subscription_details .payment-section span {
  float: right
}

.my_account__subscription_details table {
  margin-bottom: 2rem
}

.my_account__subscription_details table td {
  overflow: visible
}

.my_account__subscription_details table .quantity {
  padding-top: 68px
}

.my_account__subscription_details table .quantity input {
  height: 47px;
  min-width: 100px
}

.my_account__subscription_details table .repeat {
  padding-top: 0
}

.my_account__subscription_details input {
  padding: 5px
}

@media (min-width: 769px) {
  .my_account__subscription_details .rc-scroll--x {
      overflow:visible!important
  }
}

.my_account__subscription_details .plitemimage img {
  margin: 0 auto;
  width: auto
}

.select_table {
  position: relative
}

.select_table:after {
  /* background-image: url(../../images/icons/down-icon.svg); */
  border: none;
  z-index: 3;
  color: #fff;
  position: absolute;
  top: 12px;
  margin-left: 12px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-position: 30.77% 41.67%;
  -webkit-transition: background-image .2s ease;
  transition: background-image .2s ease;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px
}

#subscriptionOrders {
  margin-bottom: 3rem
}

#subscriptionOrders .remove-subscription {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: -1rem
}

#subscriptionOrders .remove-subscription.remove-single {
  margin-top: 0
}

.tablesorter-custom {
  font: 11px trebuchet ms,verdana,arial;
  background-color: #cdcdcd;
  margin: 10px 0 15px;
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border: 1px solid #cdcdcd;
  border-width: 1px 0 0 1px
}

.tablesorter-custom td,.tablesorter-custom th {
  border: 1px solid #cdcdcd;
  border-width: 0 1px 1px 0
}

.tablesorter-custom th,.tablesorter-custom thead td {
  font: 11px trebuchet ms,verdana,arial;
  font-weight: 700;
  background-color: #e69999;
  color: #000;
  border-collapse: collapse;
  padding: 4px
}

.tablesorter-custom tbody td,.tablesorter-custom tfoot td,.tablesorter-custom tfoot th {
  padding: 4px;
  vertical-align: top
}

.tablesorter-custom .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-repeat: no-repeat;
  background-position: right 5px center;
  padding: 4px 20px 4px 4px;
  cursor: pointer
}

.tablesorter-custom .tablesorter-header.sorter-false {
  background-image: none;
  cursor: default;
  padding: 4px
}

.tablesorter-custom .tablesorter-headerAsc {
  background-color: #db7970;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7)
}

.tablesorter-custom .tablesorter-headerDesc {
  background-color: #f0c2c6;
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7)
}

.tablesorter-custom tfoot .tablesorter-headerAsc,.tablesorter-custom tfoot .tablesorter-headerDesc {
  background-image: none
}

.tablesorter-custom .disabled {
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: not-allowed
}

.tablesorter-custom tbody td {
  background-color: #fff;
  color: #000;
  padding: 4px;
  vertical-align: top
}

.tablesorter-custom tbody tr.odd>td {
  background-color: #faebeb
}

.tablesorter-custom tbody tr.even>td {
  background-color: #fff;
  color: #000
}

.tablesorter-custom tbody>tr.even.hover>td,.tablesorter-custom tbody>tr.even:hover+tr.tablesorter-childRow+tr.tablesorter-childRow>td,.tablesorter-custom tbody>tr.even:hover+tr.tablesorter-childRow>td,.tablesorter-custom tbody>tr.even:hover>td,.tablesorter-custom tbody>tr.hover td,.tablesorter-custom tbody>tr:hover+tr.tablesorter-childRow+tr.tablesorter-childRow>td,.tablesorter-custom tbody>tr:hover+tr.tablesorter-childRow>td,.tablesorter-custom tbody>tr:hover td {
  background-color: #d9d9d9;
  color: #000
}

.tablesorter-custom tbody>tr.odd.hover>td,.tablesorter-custom tbody>tr.odd:hover+tr.tablesorter-childRow+tr.tablesorter-childRow>td,.tablesorter-custom tbody>tr.odd:hover+tr.tablesorter-childRow>td,.tablesorter-custom tbody>tr.odd:hover>td {
  background-color: #bfbfbf;
  color: #000
}

.tablesorter-custom .tablesorter-processing {
  background-image: url("data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=");
  background-position: 50%;
  background-repeat: no-repeat
}

.tablesorter-custom tr.odd td.primary {
  background-color: #e6a699
}

.tablesorter-custom td.primary,.tablesorter-custom tr.even td.primary,.tablesorter-custom tr.odd td.secondary {
  background-color: #f0c9c2
}

.tablesorter-custom td.secondary,.tablesorter-custom tr.even td.secondary,.tablesorter-custom tr.odd td.tertiary {
  background-color: #f5dbd6
}

.tablesorter-custom td.tertiary,.tablesorter-custom tr.even td.tertiary {
  background-color: #faedeb
}

.tablesorter-custom caption {
  background-color: #fff
}

.tablesorter-custom .tablesorter-filter-row input,.tablesorter-custom .tablesorter-filter-row select {
  width: 98%;
  height: auto;
  margin: 0;
  padding: 4px;
  color: #333;
  background-color: #fff;
  border: 1px solid #bbb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: line-height .1s ease;
  transition: line-height .1s ease
}

.tablesorter-custom .tablesorter-filter-row {
  background-color: #eee
}

.tablesorter-custom .tablesorter-filter-row td {
  background-color: #eee;
  line-height: normal;
  text-align: center;
  -webkit-transition: line-height .1s ease;
  transition: line-height .1s ease
}

.tablesorter-custom .tablesorter-filter-row.hideme td {
  padding: 2px;
  margin: 0;
  line-height: 0;
  cursor: pointer
}

.tablesorter-custom .tablesorter-filter-row.hideme * {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0)
}

.tablesorter-custom .filtered {
  display: none
}

.tablesorter-custom .tablesorter-errorRow td {
  text-align: center;
  cursor: pointer;
  background-color: #e6bf99
}

.account-image {
  /* background-image: url(../../images/account.jpg); */
  background-position-y: 40%
}

.card-header>a {
  float: right;
}

.hide-makedefault {
  display: none
}

.card-info-group.order-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.card-info-group .order-item-left {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%
}

@media (max-width: 768.98px) {
  .card-info-group .order-item-left {
      -webkit-box-flex:1;
      -ms-flex: 1 1 25%;
      flex: 1 1 25%
  }
}

.card-info-group .order-item-right {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%
}

.card-info-group p {
  margin-bottom: 0
}

.card-info-group div {
  margin-bottom: 1rem
}

.card-info-group div:last-child {
  margin-bottom: 0
}

.card-info-group .order-item-detail {
  font-size: 1rem
}

.order-history-control h4,.order-history h4 {
  margin-top: .5rem
}

.dashboard-order-card-image {
  width: 7rem;
  padding-right: 1rem
}

.my__account-header {
  font-size: 2.625rem
}

.my__account-header h1 {
  left: 0;
  padding-left: 0;
  margin-top: 1rem;
  text-transform: capitalize
}

@media (max-width: 991.98px) {
  .my__account-header h1 {
      margin:.9375em 0
  }
}

@media (max-width: 768.98px) {
  .my__account-header h1 {
      margin:1rem 0
  }
}

.my__account-navigation .nav_item {
  color: #4a4a4a;
  font-size: 1.125rem
}

@media (max-width: 768.98px) {
  .my__account-navigation .nav_item {
      font-size:1rem
  }
}

.my__account-navigation .nav_item.active a {
  color: #ec001a
}

@media (min-width: 992px) {
  .my__account-navigation hr {
      border:0
  }
}

.my__account-content {
  width: auto
}

.my__account-content .card-tile>div {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto
}

.my__account-content .rc-select {
  margin-top: 6px
}

.my__account__information h4 {
  padding: 0 0 10px;
  position: relative;
  top: 0;
  text-transform: capitalize
}

.my__account__information .title {
  color: #ec001a
}

@media (max-width: 639.98px) {
  .my__account__information .title {
      font-size:1rem
  }
}

.my__account__information .card-header {
  border: 0;
  padding: 1.25rem 0
}

@media (min-width: 769px) {
  .my__account__information .card-header {
      margin-top:0;
      padding-top: 0
  }
}

@media (max-width: 639.98px) {
  .my__account__information .card-body {
      padding:1.25rem 0
  }
}

.my__account__information .btn-block,.my__account__information .btn-save {
  border-radius: 30px;
  max-width: 204px
}

.my__account__information .debitCardError {
  cursor: not-allowed
}

.my__account__information .consent_track {
  text-align: right
}

.my__account__information .profile-back-to-account-link {
  text-align: left
}

.my__account__information .btn.btn-secondary {
  width: 70%
}

.my__account__information .preferences {
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.my__account__information .choices {
  margin-bottom: 0
}

.my__account__information .noOrderMsg a {
  color: #fff
}

.order__listing .row:first-child .card {
  margin-top: 80px
}

.order__listing .card {
  border: 0!important;
  width: 100%;
  min-width: 100%;
  margin:0;
  padding: 0
}

@media (max-width: 768.98px) {
  .order__listing .card {
      margin-top:20px
  }
}

.order__listing .card .card-header {
  background-color: #f6f6f6;
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
  padding: 1.25rem
}

.order__listing .card .card-header:first-child {
  border-top: 0
}

.order__listing .order-list-container h4,.order__listing .order-list-container p {
  font-size: 14px;
  color: #767676;
  margin: 0
}

.order__listing .order-list-container .card-footer {
  border: 0;
  margin-bottom: 1rem
}

.order__listing .order-list-container .order__detail__col {
  position: relative;
  padding: .75rem 1.25rem
}

.order__listing .order-list-container .order__detail__col .text_content {
  margin-top: 15%
}

.order__listing .order-list-container .order__detail__col .text_content.title_product {
  position: absolute;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
  top: calc(50% - 1rem);
  margin-top: 0
}

@media (max-width: 991.98px) {
  .order__listing .order-list-container .order__detail__col .text_content.info {
      position:relative;
      top: auto;
      -webkit-transform: initial;
      transform: none;
      margin-top: 0
  }
}

@media (max-width: 768.98px) {
  .order__listing .order-list-container .order__detail__col {
      padding:0 1.25rem
  }
}

.order__listing .order-list-container .btn__action {
  margin-top: auto;
  margin-bottom: auto
}

.my__account__information.receipt_order .order-product-summary {
  color: #333;
  background: #f6f6f6;
  margin-bottom: 40px;
  margin: 0 auto;
  max-width: 80%
}

@media (max-width: 768.98px) {
  .my__account__information.receipt_order .order-product-summary {
      max-width:95%
  }
}

.my__account__information.receipt_order .order-product-summary .bonus-product-line-item,.my__account__information.receipt_order .order-product-summary .product-line-item {
  background: #f6f6f6
}

.my__account__information.receipt_order .order-product-summary .bonus-product-line-item .item-image,.my__account__information.receipt_order .order-product-summary .product-line-item .item-image {
  height: 4.625em;
  width: 3.625em
}

.my__account__information.receipt_order .order-product-summary .bonus-product-line-item .item-image .product-image,.my__account__information.receipt_order .order-product-summary .product-line-item .item-image .product-image {
  max-height: 4.625em
}

.my__account__information.receipt_order .order-product-summary-head {
  background: #444;
  color: #fff;
  padding: 10px 10px 4px
}

.my__account__information.receipt_order .order-product-summary .card {
  width: 100%;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #979797;
  max-width: 100%;
  border-radius: 0;
  border: 0
}

.my__account__information.receipt_order .order-product-summary .card-body {
  width: 100%;
  padding: 1.25rem
}

.my__account__information.receipt_order .order-product-summary .card-body a:hover {
  text-decoration: underline;
  color: #ec001a
}

.my__account__information.receipt_order .order-product-summary .card-body-inline {
  width: 100%
}

.my__account__information.receipt_order .order-product-summary h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #333;
  float: left;
  width: 70%;
  margin-bottom: 25px
}

.my__account__information.receipt_order .order-product-summary .line-item-pricing-info {
  position: relative;
  left: -53px;
  top: 20px;
  height: 50px
}

.my__account__information.receipt_order .order-product-summary .line-item-pricing-info .pricing.qty-card-quantity-count {
  position: relative;
  top: -24px;
  left: 104px
}

.my__account__information.receipt_order .checkout-order-total-summary {
  margin: 1rem auto;
  max-width: 80%
}

@media (max-width: 768.98px) {
  .my__account__information.receipt_order .checkout-order-total-summary {
      max-width:95%
  }
}

.my__account__information.receipt_order .card-body.order-total-summary {
  padding: 1.25rem
}

.my__account__information.receipt_order .summary-section-label {
  padding-left: 0
}

.my__account__information.receipt_order .shipping-addr-label {
  margin-bottom: 0
}

.my__account__information.receipt_order .order-product-summary .product-line-item {
  background: #f6f6f6;
  border-bottom: 1px solid #979797
}

.my__account__information.receipt_order .line-item-attributes {
  font-size: 1rem;
  padding-right: 1rem
}

.my__account__information.receipt_order .order_listing_details .confirm-details.card {
  margin: 0 auto;
  max-width: 100%;
  border: 0
}

@media (max-width: 991.98px) {
  .my__account__information.receipt_order .order_listing_details .confirm-details.card {
      padding:1rem
  }
}

.my__account__information.receipt_order .order_listing_details .confirm-details.card .card-header {
  position: relative;
  margin-top: 60px;
  top: -60px;
  border: 0;
  margin-bottom: -80px;
  padding: 1.25rem 0
}

.my__account__information.receipt_order .order_listing_details .confirm-details .summary-section-label.billing-addr-label {
  line-height: 3rem
}

@media (max-width: 639.98px) {
  .my__account__information.receipt_order .order_listing_details .confirm-details .summary-section-label.billing-addr-label {
      padding-right:0!important
  }
}

@media (max-width: 639.98px) {
  .my__account__information.receipt_order .order_listing_details .confirm-details .summary-section-label.billing-addr-label.list__header:after {
      right:0!important
  }
}

.my__account__information.receipt_order .order_listing_details .confirm-details .order_col {
  margin: 0 auto
}

.my__account__information.receipt_order .order_listing_details .summary-details.order-date,.my__account__information.receipt_order .order_listing_details .summary-details.order-number {
  background: transparent;
  border: 0
}

.my__account__information.receipt_order .order_listing_details .order-product-summary .line-item-pricing-info {
  left: 0
}

.my__account__information.receipt_order .my-account {
  text-align: left;
  margin-bottom: 1em;
  margin-top: 2rem
}

.my__account__information .my__account-content .club-icon__container img {
  width: auto;
  max-height: 60px
}

.dashboard {
  width: 100%
}

.dashboard .dashboard_tile .card-tile {
  border: 0;
  background-color: #f6f6f6;
  padding: 3rem 1rem 1rem 2rem;
  min-height: 13rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row
}

@media (max-width: 1199.98px) {
  .dashboard .dashboard_tile .card-tile {
      text-align:left;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }
}

@media (max-width: 991.98px) {
  .dashboard .dashboard_tile .card-tile {
      text-align:left;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }
}

@media (max-width: 639.98px) {
  .dashboard .dashboard_tile .card-tile {
      text-align:center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex
  }
}

.dashboard .dashboard_tile .card-tile .card-header {
  margin-top: 0;
  background-color: #f6f6f6;
  padding: 1.25rem 0
}

.dashboard .dashboard_tile .card-tile img {
  margin-top: 6px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-bottom: 3rem
}

@media (min-width: 992px) and (max-width:1199.98px) {
  .dashboard .dashboard_tile .card-tile img {
      -webkit-box-pack:center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: 1rem
  }
}

@media (max-width: 991.98px) {
  .dashboard .dashboard_tile .card-tile img {
      max-width:100px;
      -ms-flex-item-align: center;
      align-self: center
  }
}

@media (max-width: 639.98px) {
  .dashboard .dashboard_tile .card-tile img {
      padding-bottom:2rem
  }
}

.dashboard .dashboard_tile h4 {
  font-size: 1.5rem;
  color: #666
}

.dashboard__profile-cards .content-asset>.rc-layout-container.rc-two-column>.rc-column {
  min-width: 50%
}

@media (min-width: 769px) {
  .dashboard__profile-cards .content-asset>.rc-layout-container.rc-two-column>.rc-column {
      max-width:50%
  }
}

.dashboard__profile-cards .rc-column>div,.dashboard__profile-cards .rc-column>div .rc-content-block,.dashboard__profile-cards .rc-column>div .rc-content-block>a,.dashboard__profile-cards .rc-column>div .rc-content-block>a>div {
  height: 100%
}

.dashboard__profile-cards .rc-column>div .rc-content-block>a .rc-column.rc-double-width {
  min-width: auto!important
}

@media (min-width: 992px) {
  [data-country=RU] .dashboard__profile-cards .rc-column>div .rc-content-block {
      min-height:290px;
      max-height: 290px
  }
}

.payment_btns .btn-primary,.payment_btns .btn-secondary {
  min-width: 204px
}

@media (max-width: 639.98px) {
  .payment_btns .back-to-account-link {
      min-width:100%;
      max-width: 100%;
      margin-bottom: 1rem
  }
}

.payment_btns .btn.btn-primary,.payment_btns .btn.btn-secondary {
  width: 100%
}

@media (max-width: 991.98px) {
  .payment_btns .btn.btn-primary,.payment_btns .btn.btn-secondary {
      margin-bottom:1rem
  }
}

.my__account-header a,.my__account-navigation .nav_item a:hover {
  color: #ec001a
}

.orderHeaderTextColor {
  color: #444
}

.subscriptionIconColor {
  color: #47b800
}

.card-container {
  margin-top: 2rem;
  border: 1px solid #d7d7d7;
  border-radius: 5px
}

.orderDetailBtn.rc-btn--icon-label:hover:not(:disabled) {
  background-color: #f6f6f6
}

.contactInfo .rc-select {
  margin-top: 8px
}

#shippingAddressValidationModal .modal-header {
  border: none
}

#shippingAddressValidationModal .addressBorder {
  border: 1px solid #ec001a;
  border-radius: 3px
}

.product-summary {
  position: relative
}

.product-summary__title {
  padding: .75rem 0
}

.product-summary__cartlink {
  position: absolute!important;
  top: 32px;
  right: 15px
}

@media (max-width: 768.98px) {
  .product-summary__cartlink {
      top:13px
  }
}

.product-summary__recap {
  margin: .75rem 0 1rem
}

.product-summary__products,.product-summary__recap__content {
  padding: 0 1px
}

.product-summary__products__item {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #d7d7d7
}

.product-summary__products__item .item-image {
  width: 45px;
  height: auto;
  margin: 0 .8em 0 0
}

.product-summary__products__item .wrap-item-title {
  width: 100%
}

.product-summary__products__item .line-item-autoship {
  margin-top: 6px
}

.product-summary__products__item .line-item-autoship .icon {
  padding-right: 5px;
  padding-top: 5px;
  color: #83cf51;
  font-size: 2rem
}

.product-summary__fees p {
  margin: 0
}

.product-summary__fees .leading-lines:not(:first-child) {
  margin-top: .5rem
}

.product-summary .autoship-icon {
  position: absolute;
  bottom: 4px;
  left: -18px;
  color: #47b800
}

.profile-back-to-account-link {
  color: #ec001a;
  text-decoration: underline;
  display: block;
  text-align: center
}

.tracking-consent {
  color: #5ca9ad;
  text-decoration: underline;
  cursor: pointer
}

.logo-payment-card-list {
  vertical-align: text-bottom
}

.logo-payment-card-list img.logo-payment-card {
  display: inline-block;
  width: 30px;
  margin-left: 2px
}

.profileSubFormTitle {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.address,.profileSubFormTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.form-group .rc-icon:after {
  position: absolute!important;
  top: 50%;
  right: 20px
}

.my__account__information input {
  background-color: #fff
}

.my__account__information input span.rc-meta {
  color: #808285
}

.choices__inner,.my__account__information select.form-control {
  background-color: #fff!important
}

.mandatoryField {
  color: #ec001a!important
}

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio:0) {
  div.price-symbol,span.price-symbol {
      font-family:Helvetica Neue,sans-serif;
      font-weight: 300
  }
}

.clnc-overlay {
  background-color: #fff;
  z-index: 99;
  border-radius: .1875rem;
}

.clinic-item-container {
  padding-inline-start: 0;
  max-height: 15rem;
  overflow-y: auto 
}
.clinic-item {
  cursor: pointer;
}
.clinic-item:hover {
  background-color: #fff3f3;
}

.password-input {
  background-color: #F9F9F9;
  border: 0;
  border-bottom: 2px solid #A3A3A4;
  border-color: #A3A3A4;
  padding: 1rem 0.9rem;
  flex-grow: 1;
  margin: 1rem 0;
}