.order__listing .order-list-container .img-fluid {
  max-width: 34%;
  margin-bottom: .2rem;
}

@media (max-width: 768.98px) {
  .order__listing .order-list-container .img-fluid {
      max-width:19%
  }
}
.rePurchase-btn {
    padding-right: 30px!important;
    padding-left: 35px!important;
    margin-left: 0!important;
}
