



@media screen and (min-width: 768px) {
  .LineFeed {
    width:calc(100% - 130px);
    // text-indent: -0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .LineFeed {
    width:100%;
    text-indent: 0;
  }
  .LineFeedText{
    max-width: calc(100% - 80px);
    font-size: 0.85rem;
  }
}

