.specialWorksConditions {
  .Информацияокомпании {
    &::after {
        content: '\02039';
        position: absolute;
        left: -1rem;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-left: 5px;
        color: #e2001a;
    }
  }
  ol {
    display: block;
    // list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  h3 {
    display: block;
    font-size: 1.125rem;
    line-height: 1rem;
    font-weight: 500;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 1px;
    padding-bottom: 4px;
  }
  .Вернутьсякначалу {
    > span {
        background-color: red;
    }
  }
}
