.btn-cheat {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: -61%;
  transform: translateX(-50%);
  cursor: pointer; 
}
@media (min-width: 769px) {
  .hero-carousel__slide__inner-custom .rc-md-down {
      display: none!important;
  }
  .btn-cheat {
    bottom: 15%;
  }
}
@media (max-width: 769px){
  .hero-carousel__slide__inner-custom .rc-md-up {
    display: none!important;
  }
}
