.terms-detail{
    color: #666;
    font-size: 12px;
    font-weight: normal;
}

.required-wrap .footerCheckbox .description p a{
    color:#c0392b;
    text-decoration: underline;
  }

.required-wrap .footerCheckbox .description p>span{
    cursor: pointer;
}

.required-wrap.common  .required-checkbox{
    max-width:700px;
    margin: 0 auto;
}
.required-wrap .description>p{
    margin-bottom: 5px;
    user-select: none;
}
.required-wrap.common .footerCheckbox .d-flex p{
    font-size: 14px;
}

.required-wrap.common .footerCheckbox .d-flex p span{
    color: #000!important;
    font-weight: 700;
}
.required-wrap.common .footerCheckbox p{
    color: #000;
    font-size: 12px;
}

.required-wrap.common .footerCheckbox p a{
    color:#EC001A;
    text-decoration: none;
}

.required-wrap .footerCheckbox>.form-check-input {
    margin-top: 0px;
}