
.description{
    margin-top: 20px;
    background: #fff;
    .description-item{
    width: 80%;
    margin: 0 auto;
    max-width: 72.5rem;
    .descrition-title{
        span:first-child{
           color: #E2001A;
           font-size: 1.625rem;
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #D7D7D7;
    }
    .description-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content-bg{
        background: #F6F6F6;
        width: 82%;
        padding: 3rem 2.75rem 2.65rem 2.75rem;
        margin:20px auto;
    }

}

}