.password-input-wrapper {
  .tippy-popper {
    position: absolute;
    will-change: transform;
    top: 0;
    left: 0;
    z-index: 59;
    perspective: 700px;
    outline: 0;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    pointer-events: none;
    line-height: 1.4;
    max-width: calc(100% - 0.625rem);
    transform: translateY(-100%);
  }

  .tippy-tooltip {
    position: relative;
    color: #fff;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    max-width: 350px;
    text-align: center;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333;
  }

  .tippy-popper .tippy-tooltip {
    pointer-events: none;
  }

  .tippy-popper .tippy-tooltip a {
    pointer-events: auto;
  }

  [data-tooltip] {
    cursor: pointer;
  }

  .rc-brand4-theme {
    padding: 1rem;
    border-radius: 3px;
    max-width: 300px;
    color: #666;
    background-color: #f6f6f6;
    border: 1px solid #d7d7d7;
  }

  .tippy-popper[x-placement^='top'] .tippy-arrow {
    position: absolute;
    border-top: 8px solid #333;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    bottom: -7px;
    margin: 0 6px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }

  [x-placement^='top'] .brand4-theme>.tippy-arrow,
  [x-placement^='top'] .rc-brand4-theme>.tippy-arrow {
    bottom: -0.625rem;
    border-top: 0.625rem solid #d7d7d7;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
  }

  [x-placement^='top'] .brand4-theme>.tippy-arrow:after,
  [x-placement^='top'] .rc-brand4-theme>.tippy-arrow:after {
    content: '';
    position: absolute;
    top: -0.625rem;
    border-top: 9px solid #f6f6f6;
    left: -9px;
    border-left: 9px solid transparent;
    right: -9px;
    border-right: 9px solid transparent;
  }

  [data-tooltip]+.tooltip {
    opacity: 0 !important;
  }
}
