.myRoyalCanin{
  .PingFangSC{
    font-family: 'Ping Fang SC';
  }
  .redColor{
    color: #E2001A;
  }
  .redBg{
    background-color: #E2001A;
  }
  .throughLine{
    height: 8px;
    background-color: red;
    // background-color: #f6f6f6;
  }
}