.desAndStars {
  display: flex;
  .des {
    flex: 3;
  }
  .stars {
    flex: 1;
    padding-top: 5px;
  }
}
.specAndQuantity {
  display: flex;
  .spec {
    flex: 3;
  }
  .quantity {
    flex: 1;
  }
  .rc-quantity {
    margin: 15px 0 0 -13px;
  }
}
.buyMethod {
  display: flex;
  border: 1px solid #e2001a;
  border-radius: 5px;
  padding: 15px 20px;
  .radioBox {
    flex: 2;
  }
  .freqency {
    flex: 4;
    height: 73px;
    line-height: 24px;
    padding-top: 1rem;
  }
  .price {
    flex: 1;
    padding-top: 1.5rem;
    font-weight: 400;
  }
}
#Details .maxRate {
  margin-right: 0;
}