.desAndStars {
  display: flex;
  .des {
    flex: 3;
  }
  .stars {
    flex: 1;
    padding-top: 5px;
  }
}
.specAndQuantity {
  display: flex;
  .spec {
    flex: 3;
  }
  .quantity {
    flex: 1;
  }
  .rc-quantity {
    margin: 15px 0 0 -13px;
  }
}
.singleBuy {
  display: flex;
  border: 1px solid #e2001a;
  border-radius: 5px;
  padding: 15px 20px;
  .radioBox {
    flex: 1;
  }
  .freqency {
    flex: 1;
    padding-top: 2rem;
  }
  .price {
    flex: 1;
    padding-top: 2rem;
  }
}