.recommendation p {
  margin-bottom: 30px;
}
.recommendProduct {
  padding: 108px;
}
.recommendProduct .left {
  flex: 1;
  border-right: 2px solid #f6f6f6 ;
}
.recommendProduct .right {
  flex: 4;
}
.recommendProductInner {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 20px 20px #f6f6f6;
}
.recommendProduct .left img {
  display: inline;
  width: 40px;
  vertical-align: middle;
}
.recommendProduct .left li {
  padding-top: 25px;
  height: 80px;
  box-sizing: border-box;
}
.recommendProduct .left li > span {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.recommendProduct .left li .proName {
  width: 70px;
  margin-left: 5px;
}

.recommendProduct ul {
  padding-left: 0;
  text-align: center;
}
.recommendProduct ul > li.active {
  height: 80px;
  /* line-height: 80px; */
  /* background-color: rgba(226,0,26, 0.04); */
  border-right: 2px solid rgba(226,0,26);
}
.recommendProduct .right .main {
  display: flex;
  margin-top: 20px;
}
.recommendProduct .right .main .pic{
  padding: 10px;
  flex: 1;
}

.recommendProduct .right .main .text{
  padding: 10px 40px 10px 10px;
  flex: 1;
  padding-top: 60px;
}
.recommendProduct .right .description {
  width: 80%;
  margin: 10px auto;
  padding: 20px 120px;
  background-color: #f6f6f6;
}
.recommendProduct .right .description p {
  margin-bottom: 0;
}

section li {
  list-style: none;
  flex: 1;
  text-align: center;
}
.picList li > img {
  width: 320px;
  height: 142px;
  display: inline-block;
}
.picList {
  margin: 80px 0;
}
.recommendation .scrollOutBox {
  width: 100%;
  text-align: center;
}