.rc-bannertip-containner{
    .rc-bannertip-text{
        cursor:pointer;
    }
    .rc-bannertip-text:hover{
        color:#1e1e1e;
    }
}
@media(min-width: 640px) {
    header.rc-header--scrolled .nav-slim-banner {
        -webkit-transform:translateY(0rem);
        transform: translateY(0rem);
    }
}