.padt20 {
    padding-top: 20px!important;
}
.img-container {
    width: 137px!important;
    height: auto;
}
.product-img {
    width: 100%;

}

.font-18 {
    font-size: 18px;
}
.weight200 {
    font-weight: 200;
}
