[disabled] {
  background-color: transparent;
}
.half-star {
  background-image: url(../../assets/images/half-start.png);
  width: 24px;
  background-repeat: no-repeat;
  background-size: 17px;
  position: relative;
  top: 7px;
  left: 5px;
}
.hands:hover {
  cursor: pointer;
}
