[disabled] {
  background-color: transparent;
}
.half-star {
  background-image: url(../../assets/images/half-start.png);
  width: 24px;
  background-repeat: no-repeat;
  background-size: 1.04rem;
  position: relative;
  top: 0.45rem;
  left: 4px;
}
.hands:hover {
  cursor: pointer;
}
.rate {
  height: 24px;
  img {
    display: inline-block !important;
    max-width: 100%;
    width: 20px;
    margin-left: 3px;
  }
}
.maxRate{
  margin-right: .5rem;
}
.smallRate{
  margin-right: -.2rem;
}
@media(max-width:540px){
  .smallRate{
    margin-right: -.5rem;
  }
}
