.rc-header-with-icon .rc-icon.rc-icon-less-scale::after {
  transform: scale(.75);
  opacity: .3;
}
.rc-header-with-icon .rc-icon.rc-brand1.rc-icon-less-scale::after {
  opacity: 1;
}

@media(max-width: 768.98px) {
  .justify-content-start-md-down {
    justify-content: flex-start!important;
  }
}
.rc-padding--sm.rc-padding-top--none {
  padding: 16px;
  padding-bottom: 0;
}
.rc-padding--sm.rc-padding-top--none .title {
  margin-top: 20px;
}
.rc-padding--sm.rc-padding-top--none .title p {
  margin-bottom: 0;
}