#Pets {
  .petItem {
    display: flex;
    height: 140px;
    line-height: 140px;
    border: 1px solid #d7d7d7;
    margin-bottom: 20px;
    border-radius: 5px;
    > .photo {
      // flex: 1;
      width: 140px;
      text-align: center;
    }
    > .content {
      flex: 3;
      padding-top: 15px;
      .key, .value {
        width: 400px;
        min-height: 20px;
        line-height: 20px;
        display: flex;
        margin-bottom: 5px;
        text-align: left;
        >span:nth-child(1) {
          width: 100px;
          // flex: 1;
        }
      }
      .value {
        font-weight: 400;
      }
    }
    > .operation {
      flex: 1;
      position: relative;
      .edit {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
  img {
    display: inline-block;
  }
}

@media(max-width: 960px){
  #Pets {
    .title {
      font-size: 20px;
      text-align: center;
    }
    .petItem {
      // display: flex;
      display: block;
      height: 320px;
      line-height: 140px;
      border: 1px solid #d7d7d7;
      margin-bottom: 20px;
      border-radius: 5px;
      position: relative;
      > .photo {
        // flex: 1;
        width: 100%;
        text-align: center;
      }
      > .content {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        .name {
          text-align: center;
          font-size: 30px;
          margin-bottom: 40px;
        }
        .key, .value {
          width: 100%;
          min-height: 20px;
          line-height: 20px;
          display: flex;
          margin-bottom: 5px;
          text-align: left;
          font-size: 20px;
          margin-bottom: 10px;
          >span {
            // text-align: center;
            flex: 1;
            padding-left: 40px;
          }
        }
        .value {
          font-weight: 400;
        }
      }
      > .operation {
        position: absolute;
        right: 0;
        top: 0;
        .edit {
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 20px;
        }
      }
    }
    img {
      display: inline-block;
    }
    .addNew {
      height: 160px;
      font-size: 22px;
    }
  }
}