.slick-dots li.slick-active button:before{
  color:#e2001a !important;
}


li.slick-active{
  .rc-carousel__slide-anim-wrap{
    transition: transform .3s ease,opacity .4s ease,-webkit-transform .3s ease;
    transform: translateY(0);
    opacity: 1;
  }
}

.rc-interactive.rc-iconography.rc-icon.rc-left:hover:after{
  background-position: 0% 70% !important;
}
.rc-carousel__direction.rc-right:hover::after {
  background-position: 0% 90% !important;
}