.form-group {
    .card-number-style{
        border: 0;
        border-bottom: 1px solid #808285;
        border-radius: 0;
        padding-left: 0;
    }
    .security-code-style{
        height: 54px;
    }
}