#GoodsDetailTabs {
  .align-items-center > img {
    width: 64px;
    height: 64px;
  }
  .desc-line-height--custom {
    height: 64px;
    line-height: 64px;
  }
  .howitworks {
    text-align: center;
  }
  .ui-star-list .list_item{
    padding-top: .9375rem;
    margin-bottom: 1.25rem;
  }
  .rc-layout-container {
    margin:0;
  }

  .card-border-style {
    border: 1px solid #d7d7d7;
  }

  @media (max-width: 639.98px) {
    .clubdetailsdesktop {
      height: 1509px;
      overflow: hidden;
      background-size: cover;
    }
    .pdpflexcolumn{
      flex-direction: column;
    }
  }
}

.goodsdetailtabs-item-mobile {
  margin-bottom: 0;
  .rc-list__accordion-item {
    border-bottom: 0;
  }
  @media (max-width: 639.98px) {
    .rc-video-wrapper {
      min-height: 168px !important;
    }
  }
}

#GoodsDetailTabs img {
  display: inline-block;
}


