#GoodsDetailTabs {
  .align-items-center > img {
    width: 64px;
    height: 64px;
  }
  .desc-line-height--custom {
    height: 64px;
    line-height: 64px;
  }
  .howitworks {
    text-align: center;
  }
}

.goodsdetailtabs-item-mobile {
  margin-bottom: 0;
  .rc-list__accordion-item {
    border-bottom: 0;
  }
}
