.sticky-operation-btn {
  position: fixed;
  bottom: 0;
  z-index: 9;
  background: #fff;
  box-shadow: 0 2px 0.625rem rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0;
  left: 0;
  width: 100%;
}
// md
@media (min-width: 769px) {
  .ord-detail {
    .table-header {
      background-color: #f6f6f6;
    }
    .table-body {
      border: 1px solid #ddd;
    }
  }
  .orderDetailsPage.card .order-details-img-fluid {
    max-width: 70%;
  }
}

.felin-order {
  padding: 6px 1rem !important;
}
