.stock__wrapper_comp {
  display: inline-block;
  order: 3;
  .stock {
    .availability-msg {
      color: #47b800;
      div{
        display: inline;
        &.out-stock {
          color: #ee8b00;
        }
      }
    }
  }
}
