.ideal-container {
  .currentItem {
    position: relative;
    height: 3rem;

    &::before {
      content: '';
      position: absolute;
      top: 15px;
      right: 5px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border: 1px solid transparent;
      border-bottom-color: rgba(107, 114, 128,1);
      border-right-color: rgba(107, 114, 128,1);
    }
  }
  .redcolor{
    color: #e2001a;
  }
}