.checkout-steps__item hr {
  margin: 1rem;
  border: 0;
  border-top: 1px solid #ccc;
}

@media(max-width: 960px){
  /* 手机 */
  .clinic-search-list{
    width:100%;
    margin-left: 2rem;
  }
  .clinic-map{
    height: 40rem;
    width: 100%; 
  }
}
@media(min-width: 960px){
  .map-saerch{
    display: flex;
  }
  /* PC */
  .clinic-search-list{
    width:30%
  }
  .clinic-map{
    height: 40rem;
    width: 70%;
  }
}
.clinic-card-boder{
  border: 1px solid #d7d7d7;
}
.headerSearchDesktop {
  width: 90%;
  margin-top: 2rem;
}
.headerSearchDesktop:after {
  background-color: #d7d7d7;
}
.modal-content {
  margin-top: 50%;
}
.confirm-clinic-btn{
  background-color: red;
  color: white;
  padding: 5px;
}
.gm-style-iw-c{
  min-width: 17rem;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 36px;
  left: 12px;
  transform: translate(-50%,-100%);
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
}
.click-btn{
  cursor: pointer;
}
.clinic-title{
  font-weight: 300;
  font-size: 1.625rem !important;
  line-height:2.5rem !important;
}
.clinic-phone{
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  overflow: hidden;
  margin-top: 1px;
  padding-bottom: 4px;
  line-height: .9em;
  font-weight: 500;
  color:#666;
  font-size: 1em;
}
.clinic-address{
  color: #666;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
}
.clinic-tip{
  color: #e2001a;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1.625rem;
  text-align: center;
}
.card-btn{
  float: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}