.checkout-steps__item hr {
  margin: 1rem;
  border: 0;
  border-top: 1px solid #ccc;
}
.map-saerch{
  display: flex;
}
.headerSearchDesktop {
  width: 17rem;
  margin-top: 2rem;
}
.modal-content {
  margin-top: 50%;
}
.confirm-clinic-btn{
  background-color: red;
  color: white;
  padding: 5px;
}