.checkout-steps__item hr {
  margin: 1rem;
  border: 0;
  border-top: 1px solid #ccc;
}

@media(max-width: 960px){
  /* 手机 */
  .clinic-search-list{
    width:100%;
    text-align: center;
    
  }
  .clinic-map{
    height: 40rem;
    width: 100%; 
  }
}
@media(min-width: 960px){
  .map-saerch{
    display: flex;
  }
  /* PC */
  .clinic-search-list{
    width:30%
  }
  .clinic-map{
    height: 40rem;
    width: 70%;
  }
}

.headerSearchDesktop {
  width: 17rem;
  margin-top: 2rem;
}
.modal-content {
  margin-top: 50%;
}
.confirm-clinic-btn{
  background-color: red;
  color: white;
  padding: 5px;
}
.gm-style-iw-c{
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 36px;
  left: 12px;
  transform: translate(-50%,-100%);
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
}
.click-btn{
  cursor: pointer;
}
