@searchPrimaryColor: #ec001a;

.search-list-text-box {
  padding-bottom: 46px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666;

  .list-text-title {
    color: @searchPrimaryColor;
    padding-bottom: 4px;
    font-weight: 500;
  }

  .list-text-content {
    li {
      padding-bottom: 2px;
      font-size: 16px;
      cursor: pointer;

      a:hover {
        color: @searchPrimaryColor;
      }
    }
  }

  .list-text-actions {
    padding-top: 14px;
    font-size: 14px;
    color: #444;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-underline-color: #D7D7D7;
    cursor: pointer;
  }
}
