.rc-nav.rc-nav-custom {
  position: fixed;
  background-color: #fff;
  width: 11%;
  padding-left: 10px;
  top: 60px;
  z-index: 99;
  left: 17px;
  box-shadow: 0 2px 4px #e8e8e8;
}

.rc-nav.rc-nav-custom .rc-column {
  padding-bottom: 0;
}
.rc-nav.rc-nav-custom .rc-list {
  font-size: .8em;
}
.rc-nav.rc-nav-custom .rc-list__item--group {
  padding-bottom: 1rem;
}
