.detail-title {
  display: inline-block;
  padding: 10px 10px 6px;
  color: #333;
}

.orderDetailsPage.card .autoshipDiscount {
  position: relative;
  color: #47b800
}

.orderDetailsPage.card .autoshipDiscount:after {
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url(../../images/icons/royal-canin.sprite--single.svg); */
  background-position: 66.67% 100%;
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%
}

.orderDetailsPage.card .textColor {
  color: #666
}

.orderDetailsPage.card .img-fluid {
  max-width: 19%
}

@media (max-width: 768.98px) {
  .orderDetailsPage.card .img-fluid {
      max-width:22%
  }
}

.orderDetailsPage.card .successColor {
  color: #47b800
}
.rc-billing::after {
  background-position: 69.98% 77.89%!important;
  transform: scale(.6);
}
.order-progress {
  overflow-x: auto;
  overflow-y: hidden;
}
.order-progress .rc-complete .rc-progress-stepped__link,
.order-progress .rc-current .rc-progress-stepped__link {
  background-color: #e2001a;
  border-color: #e2001a;
  color: #fff
}
.order-progress .rc-complete .rc-progress-stepped__link,
.order-progress .rc-current .rc-progress-stepped__link {
  /* border-color: #e2001a;
  color:#e2001a;
  background-color: #fff; */
}
.order-progress .rc-progress-stepped__item.rc-complete::after {
  background-color: #e2001a;
}
.rc-progress-stepped__item .order-progress-text {
  display: none;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  color: #666;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.3;
  bottom: -4.5rem;
  opacity: .6;
}
.rc-progress-stepped__item .order-progress-text.md-down {
  display: block;
}
.order-progress .rc-progress-stepped__item.rc-complete .order-progress-text,
.order-progress .rc-progress-stepped__item.rc-current .order-progress-text {
  opacity: 1;
}
.order-progress .rc-progress-stepped__item::after {
  height: .2rem;
}

.order-progress .rc-progress-stepped__item::after {
  width: 3.6rem;
  right: -3.6rem;
}
.order-progress .rc-progress-stepped__item {
  margin: 0 1.8rem;
  float: none;
}
.order-progress .rc-progress-stepped__link {
  width: 2rem;
  height: 2rem;
  line-height: 1.5rem;
}
.order-progress-mb {
  margin-bottom: 3rem!important
}
@media (min-width: 1292px) {
  .rc-progress-stepped__item .order-progress-text.md-up {
    display: block;
  }
  .rc-progress-stepped__item .order-progress-text.md-down {
    display: none;
  }
  .order-progress-mb {
    margin-bottom: 2.8rem!important
  }
  .rc-progress-stepped__item .order-progress-text {
    bottom: -3rem;
  }
  .order-progress .rc-progress-stepped__item::after {
    width: 14rem;
    right: -14rem;
  }
  .order-progress .rc-progress-stepped__item {
    margin: 0 7rem;
  }
  .order-progress .rc-progress-stepped__item.step_more {
    margin: 0 5.5rem;
  }
  .order-progress .rc-progress-stepped__item.step_more::after {
    width: 11rem;
    right: -11rem;
  }
  .order-progress .rc-progress-stepped__link {
    width: 2rem;
    height: 2rem;
    line-height: 1.5rem;
  }
}