.thanks {
  text-align: center;
}
.center {
  text-align: center;
}
.imformation {
  width: 50%;
}
.backtohome,.backtohome:hover {
  /* cursor: pointer;
  color: black;
  border-color: black; */
}

@media (max-width: 768.98px) {
  .imformation {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }
}