.imformation {
  width: 50%;
}
.order-number-box {
  width: 50%;
}
@media (max-width: 768.98px) {
  .imformation {
    width: 100%;
  }
  .order-number-box {
    width: 80%;
  }
}
.text-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}