
.addr-container {
  max-height: 400px;
  overflow-y: auto;
}
.addr-container::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}
.addr-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c7c7c7;
}
.addr-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ebebeb;
}
.address-item {
  border: 2px solid transparent;
  border-radius: .2em;
  cursor: pointer;
}
.address-item:hover,
.address-item.selected {
  background-color: #fff3f3;
}
.address-item.selected { 
  border-color: rgba(255, 0, 0, .5);
}

.address-item .addr-btn-edit {
  /* display: none; */
  white-space: nowrap;
  position: relative;
  top: 1px;
}
.address-item .addr-btn-edit .rc-edit--xs {
  opacity: .6;
}
.address-item .addr-btn-edit .rc-edit--xs:after{
  transform: scale(.9);
}
.address-item .address-name {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
}
.address-item .icon-default {
  margin: 5px 10px;
  color: #fff;
  padding: 0 10px;
  line-height: 20px;
  font-size: .9em;
  border-radius: 1em
}
.address-item .address-name:hover,
.address-item.selected .address-name{
  color: red
}

.addr-switch {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  line-height: 10px;
  width: 9px;
  margin-left: 5px;
  background: url(../../../assets/images/addr-i.png) no-repeat 0 0;
}
.addr-switch.switch-on {
  background-position: 0 0;
}
.addr-switch.switch-off {
  background-position: 0 -10px;
}
.address-btn-plus {
  position: relative;
  top: 1px;
}
.address-btn-plus:after {
  transform: scale(.7);
}