.rc-menu--xs.btn-close::after {
  background-image: url(%PUBLIC_URL%/royal/royal-assets1/royal-canin.sprite--iconography--xs.svg)!important;
  background-position: 38% 0!important;
}
.minicart__product:last-child .product-summary__products__item {
  border-bottom: none;
}
.login-style{
  background-color: #f6f6f6;
  height: 11rem;
  text-align: center;
}
.link-group{
  margin: 1rem 0;
}
.link-style{
  height: 2rem;
  line-height: 2rem;
  margin-left: 1rem;
}
.logoff-style{
  background-color: #f6f6f6;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.click-hover:hover{
  color: #e2001a;
}
#bannerTip {
  z-index: 8;
  position: relative !important;
  top: 7.4em;
}

@media (max-width: 639.98px) {
  .minicart .minicart-quantity {
    right: 4px;
  }
  .less-width-xs {
    min-width: 2.54rem!important;
  }
  #bannerTip {
    top: 4em !important;
  }
}