.rc-menu--xs.btn-close::after {
  background-image: url(https://d1a19ys8w1wkc1.cloudfront.net/royal-canin.sprite--iconography--xs.svg?v=8-7-9)!important;
  background-position: 38% 0!important;
}
.minicart__product:last-child .product-summary__products__item {
  border-bottom: none;
}
.suggestions {
  max-height: 77vh;
}

.tip-clinics {
  position: fixed;
  left: 14px;
  padding: 5px;
  font-size: .9em;
  border-radius: 5px;
  writing-mode: vertical-rl;
  color: #fff;
  background: #e2001a;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}