.cvv img{
    display: none;
}
.cvv .adyen-checkout__field--cardNumber{
    display: none;
}
.cvv .adyen-checkout__field--expiryDate{
    display: none;
}
.cvv .adyen-checkout__field--securityCode .adyen-checkout__label__text{
    margin-bottom: 2px;
}
.cvv .adyen-checkout__field-wrapper{
    margin-left: 30px;
}
.cvv{
    margin:0 auto;
    margin-top: 20px;
}
