#convenience-store-container {
  .convenience-store-checkbox::before {
    border-radius: 100% !important;
    border-width:1px!important;
  }
  .convenience-store-checkbox::after {
    top: 25% !important;
    left: 7px !important;
    width: 10px !important;
    height: 10px !important;
    background: #e2001a !important;
    border-radius: 100% !important;
  }
}
