.responsive-carousel{
  @media (min-width: 769px){
   .slick-slider{
     width: 1400px;
     margin: 0 auto;
   }
   .goods{
    margin: 20px;
  }
  }
  h2{
    text-align: center;
    color: rgb(236,0,26);
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
  }
  .goods{
    border: 1px solid #e5e5e5;
  }
}