.responsive-carousel{
  margin-bottom: 20px;
  @media (min-width: 769px){
    .slick-slider{
      width: 1200px;
      margin: 0 auto;
    }
    .goods{
      width: 95%!important;
    }
    .slick-dots{
      position: absolute;
      bottom: -10%!important;
    }
  }

  h2{
    text-align: center;
    color: rgb(236,0,26);
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
  }
  .goods{
    border: 1px solid #e5e5e5;
    height: 430px;
    img{
      max-width: 50%;
      max-height: 100%;
      width: 150px;
      height: auto;
      margin: auto;
    }
    .Name{
      font-size: 20px;
      color: #E6311B;
      margin-top: 20px;
      text-align: center;
      height: 80px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .Subtitle{
      padding: 0 10px;
      font-size: 14px;
      text-align: center;
      // overflow: hidden;
      // text-overflow:ellipsis;
      // white-space: nowrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .marketPrice{
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
      color:#323232;
    }
    .subscriptionPrice{
      display: flex;
      justify-content: center;
      font-size: 16px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
  }
}


@media (max-width: 769px){
  .goods{
    border: 0 none!important;
  }
  .slick-dots{
    position: absolute;
    bottom: -45px!important;
    width: 220px;
    transform: translate(40%,0);
  }
}