*{
	margin: 0;
	padding: 0;
}
.carousel-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 1400px;
	height: 460px;
	margin: 0 auto;
}
.carousel{
	width: 1200px;
	height: 400px;
	margin: 100px auto;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}
.carousel .m_unit{
	width: 90000px;
	position: absolute;
	top: 0;
	left: 0;
}
.carousel .m_unit ul{
	list-style: none;
}
.carousel .m_unit ul>li{
	float: left;
	width: 1200px;
	height: 400px;
	overflow: hidden;
}
.carousel .m_unit ul>li>div>p{
	float: left;
	width: 280px;
	height: 400px;
	overflow: hidden;
	margin-bottom:0;
	padding: 0 10px;
	margin: 0 10px;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
}
.carousel .m_unit ul>li>div>p .subtitle{
	height: 50px;
	text-align: center;
	color:#E6311B;
	font-size: 20px;
}
.carousel .m_unit ul>li>div>p .goodsName{
	height: 50px;
	text-align: center;
}
.carousel .m_unit ul>li>div>p .rete{
	text-align: center;
}
.carousel .m_unit ul>li>div>p .marketPrice{
	height: 50px;
	text-align: center;
}

.Btn{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	background-color: #fff;
	z-index: 999;
}
 a.leftBtn{
	left: 20px;
}
 a.rightBtn{
	right: 20px;
}
.circles{
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	height: 18px;
}
.circles ol{
	list-style: none;
}
.circles ol li{
	float: left;
	width: 7px;
	height: 7px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #F6F6F6;
	cursor: pointer;
}
.circles ol li.cur{
	background-color: #E2011B;
}