.ResetFailure {
    font-size: 18px;
    .img-md {
        width: 220px;
    }
    .img-pc {
        width: 500px;
    }
    .title {
        color: #e2001a;
        font-size: 30px;
        font-weight: lighter;
    }
    .button {
        color: #e2001a;
        > button {
            height: 42px;
            line-height: 42px;
            margin-right: 25px;
            padding: 0 10px;
            background-color: transparent;
            border: 2px solid transparent;
            border-radius: 20px;
            cursor: pointer;
            display: inline-block;
            font-family: var(--rc-button-font-family);
            overflow: hidden;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all .2s ease;
            vertical-align: middle;
            font-size: 14px;
            transition: all 0.3s;
            &:hover {
                border-color: #960011;
            }
        }
    }
}