.card-tips-wrapper {
  white-space: nowrap;

  .iconfont {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .iconfont:before {
    font-size: 18px;
  }

  .color-red {
    color: var(--rc-red);
  }

  .color-yellow {
    color: var(--yellow);
  }
}
