.order__listing .order-list-container .img-fluid {
  max-width: 34%;
  margin: .2rem 0
}

@media (max-width: 768.98px) {
  .order__listing .order-list-container .img-fluid {
      max-width:60%
  }
}
.rc-icon {
  display: inline-block;
  height: 36px;
}
.column-contanier {
  border: none;
}
.product-container {
  border: none;
  /* border-bottom: 1px solid #ddd; */
}
.operationBox {
  border-bottom: 1px solid #ddd;
  padding-top: 0 !important;
}
.subscriptionDetail .rc-card-content img {
  display: inline-block !important;
  width: 40px;
}
.rc-card-content {
  margin-left: 0;
}
.subscriptionDetail .footer-container {
  margin-top: 30px;
  padding-left: 20px !important;
}
.subscriptionDetail .mt10 {
  margin-top: 10px;
}
.subscriptionDetail .img-container {
  width: 70px !important;
  /* height: 120px; */
  margin-right: 20px;
  margin-top: 20px;
}
.subscriptionDetail .img-container img {
  width: 100%;
}
.rc-layout-container {
  padding-top: 15px;
}
.subscriptionDetail .col-md-3 {
  display: inline-block;
  padding: 0;
}
.subscriptionDetail .col-md-6 {
  display: inline-block;
  padding: 0;
}
.subscriptionDetail .col-12 {
  padding: 0;
}
.subscriptionDetail .choices {
  width: 80%;
  height: 46px;
}
.subscriptionDetail .rc-input__label {
  height: 46px;
}