@media(min-width: 769px){
    .landing-wrap{
        max-width: 70%;
        margin:0 auto;
      }
}
@media(max-width: 769px){
    .landing-wrap{
        max-width: 80%;
        margin:0 auto;
      }
}

.landing-wrap .pr20{
    padding: 0 0 0 20px;
}
.landing-wrap .p0{
    padding: 0 0 0 0;
}

.landing-wrap .rc-input__control:not([value=""])~.rc-input__label .rc-input__label-text, 
.landing-wrap .rc-input__date~.rc-input__label .rc-input__label-text
{
    font-size: .7rem;
    -webkit-transform: translateY(-1.5em)!important;
    transform: translateY(-1.5em)!important;
    padding-left: 0;
}